{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link href={% static "css/index.css" %} rel="stylesheet">

<main class="container">
    {% for ls in learning_space_list %}
    <a href="{% url 'swecourseapp:learningspace' ls.id %}">
        <div class="row learning-space-item mt-4" >
            <div class="col">
                <h5>{{ls.title}}</h5>
                <p>{{ls.short_description}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}