{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link href={% static "css/learningspace.css" %} rel="stylesheet">
<div class="container-fluid contatiner-vh mt-5">
	<div class="row justify-content-center h-100">
	  <div class="col-8 ">
		<div class="h-100 d-flex flex-column">
		  <div class="row justify-content-center ">
			<h2 class="text-info">{{learning_space.title}} RoadMap</h2>
		  </div>
		  <div class="row justify-content-center  flex-grow-1">
			{{ road_map | safe  }}
		  </div>

		</div>
	  </div>
	  
	  <div class="col-2 d-flex flex-column justify-content-md-between align-items-center pt-2 hover01 sidebar ">
		  <div class="p-2 img-container ">
			<a href="{% url 'swecourseapp:learningspace' learning_space.id %}">
			<img src={% static "images/home.png" %} />
			<p class="mt-3">Home</p>
			</a>
		  </div>
		  <div class="p-2 img-container ">
			<a href="{% url 'swecourseapp:topics' learning_space.id %}">
			<img src={% static "images/elearning.png" %} />
			<p class="mt-3">Topics </p>
			</a>
		  </div>
		  <div class="p-2 img-container">
			<a href="">
			<img src={% static "images/road-map.png" %} />
			<p class="mt-3">Road Map</p>
			</a>
		  </div>
		  <div class="p-2 img-container">
			<a href="{% url 'swecourseapp:participants' learning_space.id %}">
			<img src={% static "images/participants.png" %} />
			<p class="mt-3">Participants</p>
			</a>
		  </div>
	  </div>
	</div>
  </div>

	</div>
	<script>
		window.onload=myfunction();
	function myfunction()
	{
		var svg = document.getElementsByTagName("svg");
		svg[0].setAttribute("preserveAspectRatio", "none");
	}
	</script>
{% endblock %}