{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link href={% static "css/index.css" %} rel="stylesheet">
<link href={% static "css/topic.css" %} rel="stylesheet">
<div class="container">
  <div class="row mt-3">
    <div class="col-10">
    <div class="row ">
        <h2 class="text-primary">{{topic.title}}</h2>
    </div>
    <div class="row">
        {% autoescape off %}
        {{topic.content}} 
        {% endautoescape %}
    </div>
    {% if is_participant %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-12 col-lg-11 col-xl-10">
            <button class="w-100 btn btn-lg btn-primary" type="submit"  id="addResourceButton">Add Resource</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4" id="addResource">
        <div class="col-md-12 col-lg-11 col-xl-10">
        <form method="post" id="resource-form" >
		{% csrf_token %}
		{{resource_form.media}}
		<div >
				<div class="mb-4 h-350px">
					<label for="form-label"> {{ resource_form.content.label_tag }}</label>
					{% render_field resource_form.content class="form-control" id="rich" %}
				</div>
				<button class="w-100 btn btn-lg btn-primary" id="resoruce-submit" data-id="{{topic.id}}" type="submit">Submit</button>
		</div>
		</form>
    </div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-11 col-xl-10">
          {% for data in resource_data %}
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-start align-items-center">
                <div>
                  <h6 class="fw-bold text-primary mb-1">{{data.resource.user.username}}</h6>
                  <p class="text-muted small mb-0">
                    {{data.resource.created_date}}
                  </p>
                </div>
              </div>
  
              <p >
                {% autoescape off %}
                {{data.resource.content}}
                {% endautoescape %}
              </p>
  
              <div class="small d-flex justify-content-start">
                <a  class="d-flex align-items-center me-3 like" value="{{data.resource.id}}">
                  {% if data.resource.likes > 0 %}
                  <p class="mb-0">{{data.resource.likes}}</p>
                  {% endif %}
                  <i class="far fa-thumbs-up me-2"></i>
                  <p class="mb-0">Like</p>
                </a>
                <a  class="d-flex align-items-center me-3 comment">
                  <i class="far fa-comment-dots me-2"></i>
                  <p class="mb-0">Comment</p>
                </a>
              </div>
            </div>
            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa; display: none;">
              <div class="d-flex flex-start w-100">
                <div class="form-outline w-100">
                  <textarea class="form-control" id="textAreaExample" rows="4"
                    style="background: #fff;"></textarea>
                  <label class="form-label" for="textAreaExample">Message</label>
                </div>
              </div>
              <div class="float-end mt-2 pt-1">
                <button type="submit" id="post-comment" data-id="{{data.resource.id}}"  class="btn btn-primary btn-sm post-comment">Post comment</button>
                <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
              </div>
            </div>
            {% for comment in data.comments %}
            <div class="card-footer py-3 border-1" style="background-color: #f8f9fa;">
              <div class="d-flex flex-start w-100">
                <div class="form-outline w-100">
                  <label class="form-label" for="textAreaExample">{{comment.content}}</label>
                </div>
                <div class="form-outline w-15">
                  <label class="form-label" for="textAreaExample">{{comment.created_date}}</label>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-1">
      <a class="btn btn-warning" href="{% url 'swecourseapp:edittopic' topic.learning_space.id topic.id %}">
        <i class="fa fa-edit text-white">Edit</i></a>
      </div>
    <div class="col-1">
      <button type="button" id="add-note" class="btn btn-warning mb-4">Add Note</button>
      <button type="button" id="my-notes" class="btn btn-info mb-4">My Notes</button>
      <button type="button" id="other-notes" class="btn btn-success">Other Notes</button>
    </div>
    {% endif %}
    </div>
</div>
{% if is_participant %}
<div class="ontop container add-note" style="display :none">
  <div class="row ">
    <div class="col-3"></div>
    <div class="col-6">

      <div class="card text-white bg-secondary mb-3 text-center" style="min-height: 300px;">
        <div class="card-header">Add Note</div>
        <div class="card-body">
          <textarea class="form-control" id="note-content" rows="4"
          style="background: #fff;"></textarea>
          <div class="mt-3">          <input class="form-check-input" type="checkbox" id="note-visible">
            <label class="form-check-label" for="flexCheckDefault">
              Is Visible To All
            </label></div>

          <div class="row mt-3">
            <div class="col-6"><a id="note-close" class="btn btn-danger">Back</a></div>
            <div class="col-6"><a  id="submit-note" data-id="{{topic.id}}" class="btn btn-primary">Submit</a></div>
          </div>
          
        </div>
    </div>
  </div>
    <div class="col-3"></div>

</div>
  
</div>

<div class="ontop container notes my-notes"  style="display :none">
  <div class="row">
    <div class="col-11">
      <div class="row">
    {% for note in user_notes %}
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card note card-just-text">
                <div class="content">
                    
                    <p class="description">{{note.content}} </p>
                </div>
            </div> 
        </div>
    </div>
    {% endfor %}
  </div>
  </div>

    <div class="col-1">
      <button type="button" id="close-mynotes" class="btn-close" aria-label="Close"></button>
    </div>
</div>
</div>

<div class="ontop container notes other-notes"  style="display :none">
  <div class="row">
    <div class="col-11">
      <div class="row">
        {% for note in other_notes %}
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card note card-just-text">
                <div class="content">
                    
                    <p class="description">{{note.content}} </p>
                </div>
            </div> 
        </div>
    </div>
    {% endfor %}
  </div>
  </div>

    <div class="col-1">
      <button type="button" id="close-othernotes" class="btn-close" aria-label="Close"></button>
    </div>
</div>
</div>

{% endif %}

<script src={% static "js/jquery.min.js" %} ></script>
<script src={% static "js/topic.js" %} ></script>

{% block javascript %}
<script>

    $("#resource-form").submit(function (e) {
	// preventing from page reload and default actions
	e.preventDefault();
	// serialize the data for sending the form data.
	var serializedData = $(this).serialize();
  var id = $('#resoruce-submit').data("id");
  console.log(id);
	// make POST ajax call
	$.ajax({
		type: 'POST',
		url: "{% url 'swecourseapp:postresource' %}",
		data: {
      'content': tinymce.activeEditor.getContent(),
      'id': id,
      'csrfmiddlewaretoken': '{{ csrf_token }}',},
    dataType: 'json',
		success: function (response) {
			location.reload();
		},
		error: function (response) {
			alert(response["responseJSON"]["error"]);
		}
	})
})

$('.post-comment').click(function(){
		var id = $(this).data("id");
		console.log(id);
			// make POST ajax call
			$.ajax({
				type: 'POST',
				url: "{% url 'swecourseapp:postcomment' %}",
				data: {
			'content': $(this).parent().parent().find('.form-control').val(),
			'id': id,
			'csrfmiddlewaretoken': '{{ csrf_token }}',},
			dataType: 'json',
				success: function (response) {
					location.reload();
				},
				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
    });     

    $('#submit-note').click(function(){
		var id = $(this).data("id");


			// make POST ajax call
			$.ajax({
				type: 'POST',
				url: "{% url 'swecourseapp:postnote' %}",
				data: {
			'content': $(this).closest('.card-body').find('#note-content').val(),
      'is_visible': $(this).closest('.card-body').find('#note-visible').val(),
			'id': id,
			'csrfmiddlewaretoken': '{{ csrf_token }}',},
			dataType: 'json',
				success: function (response) {
					location.reload();
				},
				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
    });     

  function likeResource(resourceId, displayer){
    $.ajax({
		type: 'POST',
		url: "{% url 'swecourseapp:likeResource' %}",
		data: {
      'id': resourceId,
      'csrfmiddlewaretoken': '{{ csrf_token }}',},
    dataType: 'json',
		success: function (response) {
      if(response.likes == 1){
        displayer.parent().prepend("<p class=mb-0 >1</p>")
      }
      else{
			  displayer.text(response.likes);
      }
		},
		error: function (response) {
			alert(response["responseJSON"]["error"]);
		}
	})
  }
  

  </script>
{% endblock javascript %}
{% endblock %}